.characteristics {
  // background-color: rgb(100, 165, 247);
  background-color: #fff;
  padding: 20px 20px;
  &__cont {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(244, 243, 237);
    border-radius: 10px;
    padding: 0px 15px;
  }
  &__card {
    margin: 15px 0;
  }
  &__button {
    margin: 20px 10px;
  }
}
@media (min-width: 768px) {
  .characteristics {
    &__cont {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
    &__button {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
@media (min-width: 1400px) {
  .characteristics {
    &__cont {
      position: relative;
      bottom: -80px;
    }
  }
}
