.no-scroll{
  overflow-y: hidden;
}
body {
  color: #000;
}
h2 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 3px;
}
p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  padding: 10px 15px !important;
  color: $white;
  justify-self: center;
}
use,
svg {
  width: 70px;
  height: 70px;
}
