.header {
  background-color: #fff;
  &__cont {
    display: flex;
    align-items: center;
  }
}
.logo-container {
  margin: 15px 15px;
}
.navigation {
  display: none;
}
.address {
  display: none;
}
.mobile-menu {
  padding: 20px 0;
  position: absolute;
  z-index: 2;
  // top: 20px;
  right: 20px;
  &__button {
    display: none;
    &:checked + .mobile-menu__line-cont .mobile-menu__line {
      transition: transform 0.5s;
      transform: rotate(45deg) ;
    }
    &:checked + .mobile-menu__line-cont .mobile-menu__line:before {
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      // transition: transform 0.5s;
      // position: absolute;
      // top: 0;
      // transform: rotate(-45deg);
      display: none;
    }

    &:checked + .mobile-menu__line-cont .mobile-menu__line:after {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      top: -7px;
      position: absolute;
      transition: transform 0.5s;
      transform:  rotate(90deg);
    }
  }
  &__line-cont {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
  }
  &__line {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    &:before,
    &:after {
      background-color: #000;
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 3px;

      content: "";
      margin: 7px 0;
    }
  }
}
.mobile-section {
  display: block !important;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(0);
  transition: transform 1s linear;
  &__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px 25px;
    color: #fff;
  }
  .navigation,
  .address {
    display: inherit;
  }
}
.js-menu-container {
  display: none;
}
@media (min-width: 768px) {
  .header {
    &__cont {
      justify-content: space-between;
    }
  }
  .navigation {
    width: 30%;
    display: inherit;
    &__list {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .address {
    display: inline;
  }
  .mobile-menu {
    display: none;
  }
}
