.packages {
  display: grid;
  &__title {
    display: block;
    justify-self: center;
    margin: 15px 0 45px;
  }
  &__carousel {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }
  &__card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 450px;
  }
  &__icon {
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    top: -25px;
  }
  &__logo {
    display: block;
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 768px) {
  .packages {
    &__carousel {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (min-width: 1400px) {
  .packages {
    &__title {
      margin: 65px 0 45px;
    }
  }
}
