.card {
  width: 100% !important;
  max-width: 100%;
  &-cont {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .card-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .card-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}
